@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

*{
  font-family: 'Roboto';
}

:root{
  --color-primario: #ffe000; /* Amarillo UNAB */
  --color-secundario: #333;
  --color-fondo: #f4f6f9;
  --color-texto: #333;
  --color-boton: #ffe000; /* Amarillo UNAB */
  --color-boton-hover: #e0c200; /* Amarillo UNAB más oscuro */
  --color-boton-texto: #fff;
  --color-boton-texto-hover: #333;
}