/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor principal */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenido dividido en dos paneles */
.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Panel izquierdo con slideshow */
.left-panel {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* Panel derecho con login */
.right-panel {
  flex: 1;
  background-color: #e9a427;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 30px;
  color: #333;
}

input:focus {
  border-color: #ff9900;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 153, 0, 0.5);
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #f58220;
  outline: none;
}

.forgot-password {
  float: right;
  font-size: 12px;
  margin-bottom: 5px;
  color: #f58220;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  background-color: #f58220;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #e07000;
}

/* iconos estilizados */
.input-icon {
  position: relative;
}

.input-icon input {
  padding-right: 40px; /* Deja espacio para el icono */
  width: 100%;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}




/* Footer */
.footer-unab {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  height: 40px;
  margin-right: 15px;
}

.footer-text p {
  margin: 0;
  font-size: 14px;
}

